.header-home {
  text-align: center;
  background-color: #ed5943;
}

img.logo {
  width: 70px;
  float: left;
}

img.logo:hover {
  opacity: .5;
  transition: opacity .35s;
  cursor: pointer;
}

ul.nav {
  padding: 0;
  margin: 0;
  text-align: center;
  display: none;
}

.nav-check:checked ~ ul.nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  top: 1.3em;
  right: .5em;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav li {
  border-top: 1px solid white;
  padding: .3em;
}

nav li:hover {
  cursor: pointer;
  background-color: white;
  transition: color .35s;
}

nav li:hover a {
  color: #083557;
}

.sign-up-btn {
  display: none;
}

.banner-medium {
  display: none;
}

.banner-large {
  display: none;
}

.banner-text {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  width: 85%;
}

.banner-h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.banner-text p {
  line-height: 2.2rem;
  font-weight: normal;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

.banner-btn {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 40px;
  padding: .8em 1em;
  background-color: #ed5943;
  font-weight: 400;
}

.banner-btn:hover {
  background-color: #ed5943;
  color: black;
}

h2 {
  font-weight: 500;
}

.about-card {
  margin: 0 auto;
}

.about-icon {
  width: 200px;
  margin: 0 auto;
}

.about-card p {
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

h3 {
  font-weight: 400;
}

p {
  font-family: Roboto, sans-serif;
}

.learn-it {
  background-color: #f7f4ef;
}

.learn-it h2 {
  color: #0d3557;
}

.learn-btn {
  color: #0d3557;
  text-decoration: none;
  border: 2px solid #0d3557;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #f7f4ef;
}

.learn-btn:hover {
  transition: color .35s;
  background-color: #f7f4ef;
  color: #ed5943;
  border-color: #ed5943;
}

.sign-up {
  background-color: #78bbc0;
}

.white {
  color: white;
}

.blue {
  color: #0d3557;
}

.red {
  color: #ed5943;
}

.yellow {
  color: #f3a11e;
}

.video-text {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-title {
  font-family: Oswald, sans-serif;
}

.figcaption-text {
  font-family: Roboto, sans-serif;
}

footer {
  background-color: #0d3557;
}

.foot-logo {
  width: 75px;
  margin: 0 auto;
}

figcaption {
  color: white;
}

footer p {
  color: white;
  font-family: Oswald;
}

.social-media li {
  display: inline-block;
}

.social {
  text-align: center;
}

.btm-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 .2em;
}

.sm-icon {
  width: 40px;
}

.copyright {
  background-color: #ed5943;
}

/* Product */

.header-product {
  background-color: #0d3557;
}

.prod-h1 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 85%;
}

.interface {
  background-color: #f7f4ef;
}

.compatibility {
  background-color: #78bbc0;
}

.icons {
  background-color: #f3a11e;
}

.cards {
  padding: 0;
}

.feat-icon {
  max-width: 100px;
}

.feat-card {
  border: 2px solid #f7f4ef;
  border-radius: 5px;
  background-color: #f7f4ef;
  margin: .5em auto;
  width: 320px;
}

.prices {
  background-color: #f7f4ef;
}

.prices-btn {
  color: #0d3557;
  text-decoration: none;
  border: 2px solid #0d3557;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #f7f4ef;
}

/* learn */

.students,
.teachers {
  background-color: #f7f4ef;
}

.header-learn {
  background-color: #78bbc0;
}

.view-btn {
  color: #0d3557;
  text-decoration: none;
  border: 2px solid #0d3557;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #f7f4ef;
}

.view-btn:hover {
  color: #ed5943;
  border-color: #ed5943;
  background-color: white;
}

.learn-intro {
  background-color: #ed5943;
}

.learn-intro-two {
  background-color: #f3a11e;
}

.workshops {
  background-color: #78bbc0;
}

.workshop-btn {
  background-color: #78bbc0;
  border: 2px solid white;
  border-radius: 40px;
  padding: .5em 2em;
}

.workshop-btn:hover {
  border-color: #0d3557;
  color: #0d3557;
  background-color: #78bbc0;
}

/* pricing */

.header-pricing {
  background-color: #f3a11e;
}

.personal-mobile {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f7f4ef;
}

.personal-mobile td {
  vertical-align: middle;
}

.pers-title {
  background-color: #ed5943;
  border-bottom: none;
}

.personal-desktop {
  display: none;
}

.personal-mobile th {
  font-weight: 300;
  padding: .5em;
}

.table-btn {
  text-decoration: none;
  border-radius: 40px;
  padding: .3em 1.5em;
}

.pers-btn {
  border: 2px solid #ed5943;
}

.class-title {
  background-color: #f3a11e;
  border-bottom: none;
}

.class-btn {
  border: 2px solid #f3a11e;
}

.school-title {
  background-color: #0d3557;
  border-bottom: none;
}

.school-btn {
  border: 2px solid #0d3557;
}

.win-subscription {
  background-color: #ed5943;
}

.sub-btn {
  border: 2px solid #fff;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #ed5943;
  text-decoration: none;
}

.sub-btn:hover {
  border-color: #0d3557;
  color: #0d3557;
}

.storage {
  background-color: #f7f4ef;
}

/* sign-up */

.logo-sign-up {
  width: 135px;
  margin: 0 auto;
}

.logo-sign-up:hover {
  opacity: .5;
  transition: opacity .35s;
  cursor: pointer;
}

input,
select,
textarea,
option {
  width: 100%;
  border: 1px solid #95989a;
}

.btn-submit {
  border: 2px solid #ed5943;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #fff;
  text-decoration: none;
  color: #ed5943;
}

.btn-submit:hover {
  color: #0d3557;
  border-color: #0d3557;
  background-color: white;
}

@media only screen and (min-width: 27em) {

  .banner-small {
    display: none;
  }

  .banner-medium {
    display: block;
  }
}

@media only screen and (min-width: 38em) {

  nav {
    text-align: left;
  }

  ul.nav {
    display: inline-block;
  }

  .nav-label img {
    display: none;
  }

  nav li {
    display: inline-block;
    border: 0;
    padding: 0 .5em;
  }

  .sign-up-btn {
    display: inline-block;
    background-color: #fa7662;
    border-radius: 40px;
    color: #fff;
    border: 2px solid #fa7662;
    padding: .5em 2.5em;
  }

  .sign-up-btn-yellow {
    display: inline-block;
    background-color: #db9422;
    border-radius: 40px;
    color: #fff;
    border: 2px solid #db9422;
    padding: .5em 2.5em;
  }

  .sign-up-btn-yellow:hover {
    background-color: #ac7825;
    border-color: #ac7825;
  }

  .sign-up-btn-blue {
    background-color: #265780;
    border-color: #265780;
  }

  .sign-btn-learn {
    background-color: #8dd3d8;
    border-color: #8dd3d8;
  }

  .sign-btn-learn:hover {
    opacity: .5;
  }

  .sign-up-btn:hover {
    background-color: #c94f3d;
    border-color: #c94f3d;
  }

  .sign-up-btn-blue:hover {
    background-color: #10293e;
    border-color: #10293e;
  }

  .learn-it {
    padding: 3.5em 1.5em;
    text-align: left;
  }

  h2 {
    text-align: left;
  }

  .figcaption-text {
    bottom: 30%;
  }
}

@media only screen and (min-width: 50em) {

  nav li {
    padding: 0 1em;
  }

  .banner-medium {
    display: none;
  }

  .banner-large {
    display: block;
  }

  img.logo {
    width: 80px;
  }

  .about-icon {
    width: 250px;
  }

  .about-card p {
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
  }

  .prod-h1 {
    font-size: 3rem;
  }

  .personal-mobile {
    display: none;
  }

  .personal-desktop {
    display: table;
    width: 100%;
    background-color: #f7f4ef;
  }

  .personal-desktop .empty {
    border: none;
    background-color: white;
  }

  .personal-desktop td {
    padding: .7em;
  }

  .personal-desktop th {
    vertical-align: middle;
  }

  .social-media li {
    text-align: right;
  }

  .btm-nav a {
    padding: 0 1em;
  }
}

@media only screen and (min-width: 60em) {

  .feat-card {
    text-align: center;
    padding: .5em;
    width: 215px;
  }

  .feat-icon {
    max-width: 115px;
    margin: 0 auto;
  }

  .learn-btn {
    padding: .5em 1.3em;
  }
}

@media only screen and (min-width: 79em) {

  .banner-h1 {
    font-size: 4rem;
    line-height: 1;
  }

  .learn-btn {
    padding: .5em 2em;
  }

  .feat-card {
    width: 300px;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .banner-text {
    width: 80%;
  }

  .banner-h1 {
    font-size: 5rem;
    line-height: 1;
  }

  .about-icon {
    width: 300px;
  }

  .about-card p {
    max-width: 500px;
  }

  .collage-icon {
    max-width: 1500px;
    margin: 0 auto;
  }

  section.about {
    max-width: 1500px;
    margin: 2em auto;
  }

  .my-gutter {
    max-width: 1500px;
    margin: 2em auto;
  }
}
