header {
  text-align: center;
}

img.logo {
  width: 100px;
  margin: .5em auto;
}

img.logo:hover {
  opacity: .5;
  transition: opacity .35s;
  cursor: pointer;
}

ul.nav {
  padding: 0;
  margin: 0;
  text-align: center;
  display: none;
}

.nav-check:checked ~ ul.nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  top: 1.3em;
  right: .5em;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav li {
    border-top: 1px solid white;
    padding: .3em;
    background-color: black;
}

.nav a:hover {
  color: #609A91;
  transition: color .35s;
}

nav li:hover {
  cursor: pointer;
  background-color: #609A91;
}

.banner {
  position:
}

h1 {
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #fff;
  width: 85%;
}

h2 {
  font-weight: normal;
  color: #fff;
  bottom: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.banner-btn {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 40px;
  padding: .5em .8em;
  background-color: #ED5943;
}

.banner-btn:hover {
  transition: background-color .35s, color .35s;
  cursor: pointer;
  background-color: #C91A00;
}

h3 {
  font-weight: 500;
}

.about-card {
  margin: 0 auto;
}

.about-icon {
  width: 200px;
  margin: 0 auto;
}

.about-card p {
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
}

.learn-it {
  background-color: #F7F4EF;
}

.learn-it h2 {
  color: #0D3557;
}

.learn-btn {
  color: #0D3557;
  text-decoration: none;
  border: 2px solid #0D3557;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #F7F4EF;
}

footer {
  background-color: #0D3557;
}

.foot-logo {
  width: 75px;
  margin: 0 auto;
}

figcaption {
  color: white;
}

.btm-nav ul {
  list-style-type: none;
}

.btm-nav a {
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
  font-family: "Oswald";
}

/* Product */

header {
  background-color: #ED5943;
}

@media only screen and (min-width: 38em) {

  nav {
    text-align: left;
  }
  ul.nav {
    display: inline-block;
  }

  .nav-label img {
    display: none;
  }

  nav li {
    display: inline-block;
    border: 0px;
    padding: 0 .5em;
  }
