.header-home {
  text-align: center;
  background-color: #ED5943;
}

img.logo {
  width: 70px;
  float: left;
}

img.logo:hover {
  opacity: .5;
  transition: opacity .35s;
  cursor: pointer;
}

ul.nav {
  padding: 0;
  margin: 0;
  text-align: center;
  display: none;
}

.nav-check:checked ~ ul.nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  top: 1.3em;
  right: .5em;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav li {
    border-top: 1px solid white;
    padding: .3em;
}

nav li:hover {
  cursor: pointer;
  background-color: white;
  transition: color .35s;
}

nav li:hover a {
  color: #083557;
}

.sign-up-btn {
  display: none;
}

.banner-medium {
  display: none;
}

.banner-large {
  display: none;
}

.banner-text {
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  width: 85%;
}

.banner-h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h2 {
  font-weight: normal;
  color: #fff;
}

.banner-btn {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 40px;
  padding: .5em .8em;
  background-color: #ED5943;
}

.banner-btn:hover {
  transition: background-color .35s, color .35s;
  cursor: pointer;
  background-color: #C91A00;
}

h3 {
  font-weight: 500;
}

.about-card {
  margin: 0 auto;
}

.about-icon {
  width: 200px;
  margin: 0 auto;
}

.about-card p {
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
}

.learn-it {
  background-color: #F7F4EF;
}

.learn-it h2 {
  color: #0D3557;
}

.learn-btn {
  color: #0D3557;
  text-decoration: none;
  border: 2px solid #0D3557;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #F7F4EF;
}

.sign-up {
  background-color: #78BBC0;
}

.white {
  color: white;
}

.blue {
  color: #0D3557;
}

.figcaption-title {
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Oswald', sans-serif;
}

.figcaption-text {
  bottom: 20%;
  font-family: 'Roboto', sans-serif;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  background-color: #0D3557;
}

.foot-logo {
  width: 75px;
  margin: 0 auto;
}

figcaption {
  color: white;
}

footer p {
  color: white;
  font-family: "Oswald";
}

.social-media li {
  display: inline-block;
}

.social {
  text-align: center;
}

.btm-nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 .2em;
}

.sm-icon {
  width: 40px;
}

.map {
}

.copyright {
  background-color: #ED5943;
}

/* Product */

.header-product {
  background-color: #0D3557;
}

.prod-h1 {
  bottom: 63%;
}

.interface {
  background-color: #F7F4EF;
}

.compatibility {
  background-color: #78BBC0;
}

.icons {
  background-color: #F3A11E;
}

.cards {
  padding: 0;
}

.feat-icon {
  max-width: 100px;
}

.feat-card {
  border: 2px solid #F7F4EF;
  border-radius: 5px;
  background-color:#F7F4EF;
  margin: .5em auto;
  width: 320px;
}

.prices {
  background-color: #F7F4EF;
}

.prices-btn {
  color: #0D3557;
  text-decoration: none;
  border: 2px solid #0D3557;
  border-radius: 40px;
  padding: .5em 2em;
  background-color: #F7F4EF;
}

/*learn*/

.header-learn {
  background-color: #F3A11E;
}

.learn-intro {
  background-color: #ED5943;
}

.learn-intro-two {
  background-color: #F3A11E;
}

.workshops {
  background-color: #78BBC0;
}

/*sign-up*/

.logo-sign-up {
  width: 135px;
  margin: 0 auto;
}

.logo-sign-up:hover {
  opacity: .5;
  transition: opacity .35s;
  cursor: pointer;
}

input,
select,
textarea,
option,
 {
  width: 100%;
  border: 1px solid #95989A;
}

@media only screen and (min-width: 27em) {

  .banner-small {
    display: none;
  }

  .banner-medium {
    display: block;
  }


@media only screen and (min-width: 38em) {

  nav {
    text-align: left;
  }
  ul.nav {
    display: inline-block;
  }

  .nav-label img {
    display: none;
  }

  nav li {
    display: inline-block;
    border: 0px;
    padding: 0 .5em;
  }

  .sign-up-btn {
    display: inline-block;
    background-color: #FA7662;
    border-radius: 40px;
    color: white;
    border: 2px solid #FA7662;
    padding: .5em 2.5em;
  }

  .sign-up-btn:hover {
    background-color: #C94F3D;
    border-color: #C94F3D;
  }

  .learn-it {
    padding: 3.5em 1.5em;
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  .figcaption-text {
    bottom: 30%;
  }
}

@media only screen and (min-width: 50em) {

  nav li {
    padding: 0 2em;
  }

  .banner-medium {
    display: none;
  }

  .banner-large {
    display: block;
  }

  img.logo {
    width: 80px;
  }

  .about-icon {
    width: 250px;
  }

  .about-card p {
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }

  .social-media li {
    text-align: right;
  }

  .btm-nav a {
    padding: 0 1em;
  }


  }

@media only screen and (min-width: 60em) {
