header {
  background-color: #ED5943;
  text-align: center;
}

img.logo {
  width: 100px;
  margin: .5em auto;
}

img.logo:hover {
  opacity: .5;
  transition: opacity .35s;
  cursor: pointer;
}

ul.nav {
  padding: 0;
  margin: 0;
  text-align: center;
  display: none;
}

.nav-check:checked ~ ul.nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  position: absolute;
  top: 1.3em;
  right: .5em;
}

.nav-label img {
  display: block;
  width: 100%;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
}

nav li {
    border-top: 1px solid white;
    padding: .3em;
    background-color: black;
}

.nav a:hover {
  color: #609A91;
  transition: color .35s;
}

nav li:hover {
  cursor: pointer;
  background-color: #609A91;
}

.banner {
  background-color: #ED5943;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #fff;
}

h2 {
  font-weight: 400;
  color: #fff;
}

.banner-btn {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 40px;
  padding: .5em .8em;
  background-color: #ED5943;
}

.banner-btn:hover {
  transition: background-color .35s, color .35s;
  cursor: pointer;
  background-color: #C91A00;
}

h3 {
  font-weight: 500;
}

.about-cards {
  width: 200px;
  margin: 1em auto;
}

h4 {
  font-weight: 400;
}

p {
  font-family: helvetica;
}

.learn-it {
  background-color: #F7F4EF;
}

.learn-it h2 {
  color: #0D3557;
}
